/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

.center {
    text-align: center;
    background: #321081;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#banner {
    font-size: 24px;
    color: #ecf0f1;
    margin-bottom: 10px;
}

#clock {
    font-size: 48px;
    color: #ecf0f1;
    font-weight: bold;
}

@media (max-width: 600px) {
    #banner {
        font-size: 18px;
    }

    #clock {
        font-size: 36px;
    }
}
